.user-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  .user-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    .user-value {
      width: 175px;
      word-break: break-all;
    }
  }
}
.user-photo {
  margin-left: 2rem;
}
.mini-finger {
  width: 90px;
  height: 120px;
}
.max-finger {
  width: 120px;
  height: 190px;
}
.fs10 {
  font-size: 10px;
}
.mt20 {
  margin-top: 20px;
}