.form_builder {
  max-height: 100%;
  overflow: auto;
  width: 100%;
  .form_control {
    position: relative;
    padding: 0 1rem;
    align-items: flex-end;
    flex: 1;
    margin: 2rem 0;
    label {
      display: flex;
      flex: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .input_control {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
     }
  }
  button {
    display: flex;
  }
  .required{
    font-size: 0.8rem;
    height: 1.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 300px;
    color: red;
    bottom: -30px;
  }
  .placeholder{
    position: absolute;
    font-size: 0.8rem;
    color: #2d2c2f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  input, select {
    font-size: 1rem;
    flex: 50% 50%;
    padding: 0.5rem;
    display:block;
    outline: none;
    background: transparent;
    border-radius: 5px;
    border: 2px solid darken(#F7F7F7, 10);
    &:hover {
      transition: border-color 0.3s;
      border-color: darken(#F7F7F7, 30);
    }
    &:focus {
      transition: border 0.3s;
      border-color: #20B5AC;
    }
    &.invalid {
      transition: border 0.3s;
      border-color: red;
    }
  }
}

.form_wrapper {
  width: 50%;
  display: flex;
  max-height: 100%;
}
.button_group {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}
