.box {
  border-radius: 5px;
  background-color: #F7F7F7;
  padding: 1rem;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.box-centered {
  border-radius: 5px;
  background-color: #F7F7F7;
  padding: 1rem;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.box-error {
  color: red;
  padding: 1rem;
  overflow-x: hidden;
  display: flex;
  align-self: center;
}