.table-wrapper {
  max-height: 600px;
  width: 100%;
}
table {
  width: 100%;
  th, td {
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,0.1);
  }
  tbody{
    tr {
      cursor: pointer;
      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}

