.profile-wrapper {
  display: flex;
  justify-content: space-around;
;
  flex: 1;
  .userData {
    display: flex;
    flex-direction: column;
    div {
      margin: 0.5rem 0;
      display: flex;
      width: 400px;
      justify-content: space-between;
      span {
        margin: 0 0.5rem;
      }
    }
  }
  .user-picture {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button-group {
  align-items: center;
  justify-content: center;
  display: flex;
}

.fl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  border: 1px solid;
  width: 240px;
  height: 350px;
  padding: 20px;
  margin: 10px;
}