.custom-button {
  outline: none;
  border: none;
  background-color: #20B5AC;
  font-size: 15px;
  padding: 10px 20px;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(255,255,255,0.85);
  &:hover {
    background-color: darken(#20B5AC, 5);
  }
  &:focus {
    background-color: darken(#20B5AC, 15);
  }
  &.round {

  }
}
