.header {
  display: flex;
  justify-content: space-between;
  background-color: #181818;
  color: rgba(255,255,255,0.85);
  padding: 1.5rem;
  align-items: center;
  img {
    width: 150px;
    height: 35px;
    display: flex;
  }
}
