.search-control {
  display: flex;
  flex: 1;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  input {
    font-size: 1rem;
    flex: 50% 50%;
    padding: 0.5rem;
    display:block;
    outline: none;
    background: transparent;
    border-radius: 5px;
    border: 2px solid darken(#F7F7F7, 10);
    &:hover {
      transition: border-color 0.3s;
      border-color: darken(#F7F7F7, 30);
    }
    &:focus {
      transition: border 0.3s;
      border-color: #20B5AC;
    }
    &.invalid {
      transition: border 0.3s;
      border-color: red;
    }
  }
}
